$(".alerts").html("");
if(<%= @success %>) {
  $(".alerts").append("<div class='alert alert-success'> Course made successfully! </div>");
    $('#new_course_description')[0].reset();
}
if(<%= @facultyError %>){
  $(".alerts").append("<div class='alert alert-danger'> Instructor not found! </div>");
} else if(<%= @numberError %>){
  $(".alerts").append("<div class='alert alert-danger'> Number was left blank! </div>");
} else if(<%= @nameError %>){
  $(".alerts").append("<div class='alert alert-danger'> Name was left blank! </div>");
}
