<div class="side_bar">
  <div class="user">
    <img class="img-circle" src="<%= @student.imageLocation ? asset_path(@student.imageLocation) : asset_path("defaults/default_profile_picture.jpg") %>" height="120">
    <h2> Creating New Student </h2>
    <h5> Intended Program of Study </h5>
    <h6> PID </h6>
    <div class="bottom-border"></div>
  </div>
  <ul class="nav nav-pills">
    <div><a id="personal" data-toggle="pill" href="#basic_info"><div class="pillbutton">Add a new Student</div></a></div><br>
    <div><a href="/students"><div class="pillbutton">Back to Homepage</div></a></div>
  </ul>
</div>
<!-- SIDE BAR ends -->
<div class="container">
  <div class="tab-content">

    <div id="basic_info" class="tab-pane fade in active">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#personal_info">Personal Information</a></li>

      </ul>
      <div class="tab-content">
        <div id="personal_info" class="tab-pane fade in active">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="alerts"> </div>
              <%= render 'form', student: @student, function: "create" %>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
