
<div class="main">
  <div class="container">
    <h1> Comp 523 Team Project</h1>
    <div class="sprints">
      <h3 style="color:black"> <a href="<%= asset_path("final_documents/final_doc.pdf") %>"> FINAL DOCUMENATION </a> </h3>
    </div>
  </div>

</div>

<div class="info">
  <div class="container">
    <div class="label">Team Members</div>
    <ul class="names">
      <li> Volodymyr Siedlecki <i> siedleck@live.unc.edu </i> </li>
      <li> Jia Chen <i>  jiac@live.unc.edu </i> </li>
      <li> Jeff Zambory <i>  zambory@live.unc.edu </i> </li>
      <li> Muttaqee Ahmad Ali <i>  muttaqee@live.unc.edu </i> </li>
    </ul>
    <div class="sprints">
      <p> </p>
      <h2> Current Sprint (Click on Student Edit) </h2>
      <%= link_to "Login", login_path ,target: "_blank" %>
    </div>
    <div class="meeting">
      <h3> Meeting Time </h3>
      Tuesdays at 8:00 AM
    </div>
    <div class="communication">
      <h3> Communication </h3>
      <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=siedleck@live.unc.edu,jiac@live.unc.edu,zambory@live.unc.edu,muttaqee@live.unc.edu"> CONTACT US! [gmail]</a>
    </div>
    <div class="description">
      <h3> Project Description </h3>
      "A program that shows degree requirements/program of study (one for MS and one for PhD and, perhaps, one for both). Students should be able to enter the program with a their own log in. From here, they should be able to see what requirements they have met, what they have left to do, their adviser, dissertation title, classes they have taken, and what category a certain class would fall into. (Theory, Applications, or Systems, and background requirements.) I would also like them to be able to view their grades in this system, but not edit anything. The administrator would check off the requirements they have met and post their grades. Also need a place for notes."
    </div>
    <div class="rules">
      <h3> Rules </h3>
      <ol>
        <li>
          Be transparent about abilities, burdens, shortcomings, and what isn't clear to you. Open communication is key. Ask for help.
        </li>
        <li>
          All project-related email/communication with the client should be CC'd to the rest of the team.
        </li>
        <li>
          If you can't come to a meeting, let the team know at least 12 hours beforehand, not when the meeting is set to begin.
        </li>
        <li>
          Have fun. :)
        </li>
      </ol>
    </div>
  </div>

  <div class="footer">
    <div class="container">
    </div>
  </div>



