/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

/*.OSX {*/
    /*zoom: 100%;*/
/*}*/

html { height: 100% }
body { min-height: 100% }
.navigaters {

    border-radius: 4px;
    position: relative;
    display: block;


}
.bottomSetter {
    margin-bottom: 5%;
}

/* Search text fields */
.searchBox {
    width: 80%;
    margin-top: 5%;
    padding: 5px;
}

#addCourses {
    border-top: 1px solid black;
}

.searchButton {
    margin-top: 1%;
    border: 1px solid black;

    background-color: white;
    text-color: black;
}

#searchBottom {
    height: 30%;
    border-bottom: 1px solid black;
}
.addButton {
    margin-top: 7%;
    border: 1px solid black;

    background-color: white;
   text-color: black;

}

#searchResults {
    margin: auto;
    width: 30%;
    margin-top: 1.5%;
}

.stable {
    margin-top: 3%;
    margin-left: 6%;
    /*border: 1px solid black;*/
    width: 80%;
    /*background-color: white;*/
    /*padding: 2%;*/
    /*text-align: center;*/
    /*font-size: 125%;*/
}

.touch a {
    color:red;
}
.noBreaks br {
    display: none;
}
.container {
    float: right;
    width: 80%;
    height: 100vh;
    /*background-color: rgba(247, 240, 49,.2);*/
    background-color: #e3dee6;

    min-height: 100vh;
    overflow-y: scroll;

}


.right {
    float:right;
    width:40%;
}

.form-group {
    width:100%;

}

.form-check-inline {
    margin-right: 2%;
}

.panel-heading {

}

.title {
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;

}

.left {
    float:left;
    width:40%;
    margin-left: 8%;
}

.panel-body{
    background:white;
    border: 1px solid #ddd;

}
.panel {
    /*background-color: lightblue;*/
    border: none !important;
    box-shadow: none !important;
}

html, body {
    margin: 0;
    min-height: 100%;

}
#back {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10%;
}


.bottom-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.56);
    width: 80%;
    margin: 0 auto;
}

.part {
    margin-left: 2%;
}
.cform {
    width: 100%;
}

.img-circle {
    border-radius: 50%;
    margin: auto; /* Center image horizontally */
    margin-top: 5%; /* Translate image down */
    display: block;
    box-shadow: 0px 0px 5px black;
}

.side_bar{
    float: left;
    overflow-y: scroll;
    width: 20%;
    background-color: #7BAFD4; /* Real Carolina Blue */
    /*background-color: #c8573f; !* Ruddy Red *!*/
    /*background-color: #9dc853; !* Polk Place Green *!*/
    /*background-color: #6ac896; !* Derbyshire Green *!*/
    /*background-color: #e6611d; !* Deep tangerine *!*/
    /*background-color: #9d9d57; !* Darjeeling Tea *!*/
    /*background-color: #d885e6; !* Porky Pink *!*/
    /*background-color: #d4cdc9;*/
    color: #FFFFFF;
    height: 100vh;
    text-align: center;
    position: fixed;

    /*-webkit-box-shadow: inset 0px -50px 100px #646464;*/
    /*-moz-box-shadow: inset 0px -50px 100px #646464;*/
    /*box-shadow: inset 0px -50px 100px #646464;*/
}

.side_bar > * {
    margin-top: 10px; /* Vertical spacing between items within side bar */
}

.side_bar > h2, .side_bar h2 {
    font-size: 2.50em;
    text-shadow: 0px 1px 4px black;
    font-family: Athelas;
    margin-bottom: 0px;
}
.side_bar h3 {
    font-size: 1.5em;
    /*text-shadow: 0px 1px 4px black;*/
    font-family: Athelas;
    margin: 0;
}

.user h2 {
    margin-bottom: 12px;
}

.user h3 {
    margin-bottom: 8px;
}

.side_bar .pillbutton {
    width: 80%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.51);
    border: 2px solid white;
    color: #000000;
    -webkit-box-shadow: 0px 1px 3px black;
    -moz-box-shadow: 0px 1px 3px black;
    box-shadow: 0px 1px 3px black;
}

.side_bar .pillbutton:hover {
    background-color: #FFFFFF;
}

.side_bar a:hover {
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

.side_bar input[type="text"] {
    color: #000000;
    border: none;
    -webkit-box-shadow: inset 0px 1px 5px black;
    -moz-box-shadow: inset 0px 1px 5px black;
    box-shadow: inset 0px 1px 5px black;
}

.side_bar ul{
    padding: 0 5px;
    margin-top: 25px;
}

.nav-pills li {
    width: 100%;
}

#scroll_for_more_overlay {
    width: 100%;
    position: absolute;
    height: 3em;
    bottom: 0vh;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    -webkit-box-shadow: inset 0px -10px 35px #000000;
    -moz-box-shadow: inset 0px -10px 35px #000000;
    box-shadow: inset 0px -10px 35px #000000;
}

#scroll_for_more_overlay:hover {
    -webkit-box-shadow: inset 0px -10px 25px #000000;
    -moz-box-shadow: inset 0px -10px 25px #000000;
    box-shadow: inset 0px -10px 25px #000000;
}

#headerRow > td {
    background-color: #7BAFD4; /* Real Carolina Blue */
    color: #FFFFFF;
    font-size: 16pt;
    text-shadow: 0px 1px 4px black;
    font-family: Athelas;
}

td[class="stable"] {
    font-size: 12pt;
    font-family: Verdana;
    padding: 5px;
}

#resultsTable > tr[id="oddRow"] > td {
    background-color: rgba(123, 175, 212, 0.51);
}

#resultsTable > tr[id="evenRow"] > td {
    background-color: rgba(255, 247, 249, 0.75);
}

span[id="icon"] {
    font-size: 0.5em;
}

#expand a:hover {
    background-color: red;
}

.checklist{
    margin-left: 20px;
}

.requirement {
    padding: 10px 0;
}

.requirement_description {
    display: inline-block;
    margin-left: 10px;
    width: 80%;
}

.breadth {
    margin-top: 20px;
    font-weight: bold;
}

.checklist .wrapper {
    margin-left: 50px;
}

@media screen and (max-width: 800px) {
    .side_bar {
        width: 190px;
        position: absolute;
    }
    .container {
        width: 600px;
        position: absolute;
        left: 190px;
    }
}

.form-group{
    margin-right: 20px;
}


.form-inline{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;

}

ul.nav.nav-tabs {
    padding: 0;
    margin: 0;
}

/* Type Ahead */

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 150px;
    height: 30px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 200px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.alerts {
    text-align: center;
}