/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.touch a {
    color:red;
}
.container {
    float: right;
    width: 80%;
    height: 100%;
    background-color: rgba(247, 240, 49,.2);
    /* yellow: #fefee1 */
    min-height: 100vh;


}
.right {
    float:right;
    width:40%;
}

.form-group {
    width:100%;

}

.form-check-inline {
    margin-right: 2%;
}

.panel-heading {

}

.title {
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;

}

.left {
    float:left;
    width:40%;
    margin-left: 8%;
}

.panel-body{
    background:white;


}
.panel {
    /*background-color: lightblue;*/
    border: none !important;
    box-shadow: none !important;
}

html, body {
    margin: 0;
    min-height: 100%;

}

.user{
    background: #B2D0E6; /* For browsers that do not support gradients #d2e1fe */
    background: -webkit-linear-gradient(white, #B2D0E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #B2D0E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #B2D0E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #B2D0E6); /* Standard syntax */
}

.bottom-border{
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.ctable {
    border-spacing: 5px;
    margin-top: 2%;
    margin-left: 5%;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    text-align: center;
}
.part {
    margin-left: 2%;
}
.cform {
    width: 100%;
}

.img-circle {
    border-radius: 50%;
    margin: 0px auto;
    display: block;
    padding-top: 10px;
}

.side_bar{
    float: left;
    width: 20%;
    background-color: #B2D0E6;
    height: 100vh;
    text-align: center;
    position: fixed;
}

.side_bar ul{
    padding: 0 5px;
    margin-top: 25px;
}

.nav-pills li {
    width: 100%;
}

.tab-content{
    padding-top: 5px;
}

#expand a:hover {
    background-color: red;
}

.checklist{
    margin-left: 20px;
}

.requirement {
    padding: 10px 0;
}

.requirement_description {
    display: inline-block;
    margin-left: 10px;
    width: 80%;
}

.breadth {
    margin-top: 20px;
    font-weight: bold;
}

.checklist .wrapper {
    margin-left: 50px;
}

@media screen and (max-width: 800px) {
    .side_bar {
        width: 190px;
        position: absolute;
    }
    .container {
        width: 600px;
        position: absolute;
        left: 190px;
    }
}

.form-group{
    margin-right: 20px;
}


.form-inline{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;

}

ul.nav.nav-tabs {
    padding: 0;
    margin: 0;
}